.App {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #ececec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.ql-editor {
  white-space: pre!important;
  }